<div class="floating" id="cookie-bar-outer">
    <div class="size-limited" id="cookie-bar">
        <span>{{ "cookies"|bundle|raw }}</span>
        <span class="close fa fa-close"></span>
    </div>
</div>