<li class="news-list-item toggleable" x-news-article-id="{{ id }}" just-loaded>
    <div class="news-list-item-container center-vertically-children">
        <div class="news-list-item-inner">
            <h4>{{ title }}</h4>
            <div>{{ textPreview }}</div>
        </div>
    </div>
    <div class="news-article-container">
        <article class="isolated-scroll">
            <h4>{{ title }}</h4>
            <div class="news-article-content" unloaded>
            </div>
        </article>
    </div>
</li>