{% extends "components/section.html.twig" %}

{% block identifier %}{{ identifier is defined ? identifier : title|identifier(group) }}{% endblock %}

{% block classes %}{{ parent() }} titled-section{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="section-content">
        {% block sectionBody %}
        {% endblock %}
    </div>
{% endblock %}