.size-limited
{
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
}

.wider, .fullwidth .slideshow
{
   max-width: 1000px;
}

section
{
   display: block;
   margin: 8em 0;
}

section::before
{
   display: block;
   content: " ";
   height: 6em;
   margin-top: -6em;
   visibility: hidden;
}

section.invisible
{
    display: initial;
    margin: 0;
    padding: 0;
}

.titled-section h1
{
   font-size: 3em;
   padding: 0;
   margin: 0;
   margin-bottom: .75em;
   color: rgb(222,221,58);
}

.titled-section .section-content
{
   font-size: 1.35em;
}

.fullwidth
{
   max-width: none;
   width: 100%;
   /* background: #d7e33c; */
   background: #eee;
   text-align: center;
   /* color: #a0a92d; */
   color: #9a9a9d;
   padding: 2em;
   box-sizing: border-box;
    /* box-shadow: inset 0 20px 20px -24px black, inset 0px -20px 15px -24px black;  */
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2); 
}

.fullwidth h1
{
   font-weight: 400;
   font-size: 42pt;
   padding: 0;
   margin: 0;
   margin-bottom: .5em;
}

.slideshow
{
   display: flex;
   flex-direction: row;
   /* max-width: 800px; */
   max-width: 800px;
   margin: auto;
   overflow: hidden;
}

.slideshow > *
{
   display: inline-flex;
}


.slideshow ul, .slide-with
{
   list-style: none;
   display: block;
   white-space: nowrap;
   position: relative;
   padding: 0;
   margin: 0;
   transition: height .5s ease;
}

.slideshow ul
{
   flex-grow: 1;
   min-height: 6rem;
}

.slideshow .slideshow-panel::before
{
   min-height: 6rem;
}

.slideshow-panel
{
   display: inline-block;
   position: absolute;
   /* opacity: 0; */
   visibility: hidden;
   width: 100%;
   left: 0;
   transition: .5s ease;
   transition-property: left, opacity;
   pointer-events: none;
   z-index: -1;
}

.slideshow-panel.on-left
{
   left: -100%!important;
}

.slideshow-panel.on-right
{
   left: 100%!important;
}

.slideshow .slideshow-panel.on-left
{
   left: -110%!important;
}

.slideshow .slideshow-panel.on-right
{
   left: 110%!important;
}

.slideshow-panel.no-transition
{
   transition: none!important;
   transition-property: none!important;
}

.fast-transition .slideshow-panel
{
   transition-duration: .25s!important;
}

.slideshow-panel.visible, .slideshow-panel.priority-two
{
    visibility: visible;
}

.slideshow-panel.visible
{
   opacity: 1;
   pointer-events: initial;
   z-index: 1;
}

.slideshow-panel.priority-two
{
    z-index: 0;
}

.slideshow button
{
   display: inline-block;
   vertical-align: middle;
   background: none;
   border: none;
   padding: 0 .25em;
   font-size: 24pt;
   opacity: .5;
   height: 100%;
   min-height: 6rem;
   max-height: 10rem;
}

.slideshow button:hover, .slideshow button:focus
{
   background-color: rgba(0, 0, 0, .1);
}

.slide-with
{
    overflow: hidden;
    white-space: normal;
}

.slideshow-panel hr
{
    margin: 2em 0;
}

.two-column > *
{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.two-column :first-child
{
    padding-top: 0;
    margin-top: 0;
}

.lightbox-outer
{
    width: 100vw;
    text-align: center;
    height: 100vh;
    pointer-events: none;
    transition: opacity .5s ease;
}

.lightbox-outer.hidden
{
    opacity: 0;
}

.lightbox-outer.hidden *
{
    pointer-events: none!important;
}

.lightbox
{
    background-color: white;
    min-width: 33vw;
    max-width: 80vw;
    min-height: 20vh;
    pointer-events: initial;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.33);
}

.lightbox > *
{
    padding: 1rem;
    box-sizing: border-box;
}

.lightbox-header
{
    width: 100%;
    border-bottom: 1px solid #9a9a9d;
    position: relative;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 2em;
}

.lightbox-header *
{
    display: inline-block;
    font-weight: lighter;
}

.lightbox-header h1
{
    padding: 0;
    margin: 0;
    font-size: 1.1em;
}

.lightbox-header .close
{
    cursor: pointer;
}

.lightbox-content
{
    padding: 0;
}