section
{
   max-width: 800px;
   margin: auto;
}

section::before
{
   display: block;
   content: " ";
   height: 5em;
   margin-top: -5em;
   visibility: hidden;
}

.text-block-section h1
{
   font-size: 36pt;
   padding: 0;
   margin: 0;
   margin-top: 2em;
   margin-bottom: .75em;
}

.text-block-section .section-content
{
   font-size: 20pt;
}

.fullwidth
{
   max-width: none;
   width: 100%;
   background: #d7e33c;
   text-align: center;
   color: #a0a92d;
}

.fullwidth h1
{
   font-weight: 100;
   font-size: 42pt;
   font-family: "Heebo", sans-serif;
   padding: .5em 0;
}