html, body
{
   /*height: 100%;*/
}

body
{
   padding: 0;
   margin: 0;
   /*margin-top: 16em;*/
   font-family: Calibri, Arial, sans-serif;
   background-color: #fafafa;
}

a
{
   color: #d7e33c;
   text-decoration: none;
}

header a
{
   color: black;
}

header
{
   width: 100%;
   margin-bottom: 2em;
   height: 6em;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
}

#header-wrapper
{
   width: 100%;
   height: 100%;
   background-color: white;
   box-shadow: 0 0 20px 0px rgba(0, 0, 0, .4);
}

header *
{
   height: 100%;
}

#header-content, #page-body, #footer-content
{
   margin: auto;
   max-width: 1000px;
}

#header-content > *
{
   display: inline-block;
}

header img
{
   height: 75%;
   padding: 0;
   margin: 0;
}

nav, nav ul
{
   padding: 0;
   margin: 0;
   /*overflow-y: hidden;*/
}

header #logo
{
   float: right;
}

header #logo img
{
   display: inline-block;
   vertical-align: middle;
}

.center-vertically::before
{
   content: " ";
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}

.center-vertically
{
   display: inline-block;
   vertical-align: middle;
}

nav
{
   vertical-align: top;
}

nav > ul li
{
   display: inline-block;
   font-size: 16pt;
   /*padding-top: .1em;*/
   transition: .4s ease;
   text-transform: uppercase;
   position: relative;
}

nav > ul li span
{
   padding: 0 .25em;
   height: auto;
}

nav li a
{
   width: 100%;
   height: 100%;
   display: inline-block;
}

nav .dropdown-items
{
   display: block;
   background-color: white;
   box-shadow: 0 0 15px rgba(0, 0, 0, .4);
   height: auto;
   position: absolute;
   left: 50%;
   z-index: -1;
   padding-top: .75em;
   white-space: nowrap;
   overflow: hidden;

   transition: .5s transform cubic-bezier(0.68,-0.04, 0.62, 0.99);
   -webkit-transform: translate(-50%, calc(-150% - 5em));
   -moz-transform: translate(-50%, calc(-150% - 5em));
   -o-transform: translate(-50%, calc(-150% - 5em));
   -ms-transform: translate(-50%, -150%);
   transform: translate(-50%, calc(-150% - 5em));
}

nav li:hover .dropdown-items
{
   -webkit-transform: translate(-50%, 0);
   -moz-transform: translate(-50%, 0);
   -o-transform: translate(-50%, 0);
   -ms-transform: translate(-50%, 0);
   transform: translate(-50%, 0);
}

nav .dropdown-items li
{
   display: block;
}

nav .dropdown-items li a
{
   padding: 1em 2em;
}

.dropdown-items h4
{
   padding: 0 2em;
   margin: 0;
   margin-top: 1em;
   margin-bottom: .75em;
}

nav ul li:hover
{
   background-color: #eee;
}

#current-lang
{
   display: inline-block;
   padding: 0 .5em;
   margin-left: 1em;
   background-color: #eee;
}

#current-lang span:first-child
{
   margin-right: .2em;
}

main
{
   display: block;
   margin-bottom: 5em;
}

footer
{
   border-top: 1px solid #ccc;
   padding: 1.25em 2em;
   padding-bottom: 2em;
   margin-top: 2em;
}

#footer-content
{
   max-width: 
}

footer #footer-left
{
   display: inline;
}

#footer-left > *
{
   display: inline-block;
}

#footer-left > *:not(:last-child)
{
   border-right: 1px solid #999;
   padding-right: .5em;
}

#footer-left > *:not(:first-child)
{
   padding-left: .2em;
}

footer #footer-back-to-top
{
   float: right;
}