html, body
{
   /*height: 100%;*/
}

body
{
   padding: 0;
   margin: 0;
   /*margin-top: 16em;*/
   font-family: "Segoe UI", Calibri, sans-serif;
   /* background-color: #fafafa; */
   overflow-x: hidden;
}

a
{
    /* color: #d7e33c;  */
   color: #a0a92d;
   text-decoration: none;
}

button:disabled
{
    cursor: auto;
}

select
{
    border: none;
    background: none;
    border-bottom: 2px solid #d7e33c;
}

hr
{
    max-width: 1000px;
    margin: auto;
    margin-top: 8em;
    margin-bottom: 2em;
    border: none;
    border-top: 1px solid #bbb;
    border-bottom: 2px solid #fff;
}

img
{
    border: none;
}

body > header a
{
   color: black;
}

body > header
{
   width: 100%;
   margin-bottom: 2em;
   height: 6em;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
}

.link-button
{
    color: #a0a92d;
    /* text-decoration: underline; */
    background: none;
    border: none;
    font-size: 12pt;
    padding: 0;
    margin: 0;
}

#header-wrapper
{
   width: 100%;
   height: 100%;
   background-color: white;
   /* box-shadow: 0 0 20px 0px rgba(0, 0, 0, .4); */
}

#header-wrapper:hover
{
    /* box-shadow: 0 0 20px 0px rgba(0, 0, 0, .4); */
}

body > header *
{
   height: 100%;
}

#header-content, #page-body, #footer-content
{
   margin: auto;
   max-width: 1000px;
}

#header-content > *
{
   display: inline-block;
}

body > header img
{
   height: 75%;
   padding: 0;
   margin: 0;
}

nav, nav ul, .dropdown-menu
{
   padding: 0;
   margin: 0;
   /*overflow-y: hidden;*/
}

body > header #logo
{
   float: right;
}

body > header #logo img
{
   display: inline-block;
   vertical-align: middle;
}

.center-vertically::before, .center-vertically-children::before
{
   content: " ";
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}

.center-vertically, .center-vertically-children > *
{
   display: inline-block!important;
   vertical-align: middle!important;
}

nav
{
   vertical-align: top;
}

nav > ul li
{
   display: inline-block;
   font-size: 16pt;
   /*padding-top: .1em;*/
   transition: .4s ease;
   text-transform: uppercase;
   position: relative;
}

nav > ul li span
{
   padding: 0 .25em;
   height: auto;
}

nav li a
{
   width: 100%;
   height: 100%;
   display: inline-block;
}

.dropdown-menu
{
   display: block;
   background-color: white;
   box-shadow: 0 0 15px rgba(0, 0, 0, .4);
   height: auto;
   position: absolute;
   left: 50%;
   z-index: -1;
   padding-top: .75em;
   white-space: nowrap;
   overflow: hidden;

   transition: .5s transform cubic-bezier(0.68,-0.04, 0.62, 0.99);
   -webkit-transform: translate(-50%, calc(-150% - 5em));
   -moz-transform: translate(-50%, calc(-150% - 5em));
   -o-transform: translate(-50%, calc(-150% - 5em));
   -ms-transform: translate(-50%, -150%);
   transform: translate(-50%, calc(-150% - 5em));
}

.dropdown-root.drop-on-hover:hover .dropdown-menu, .dropdown-root.drop-on-focus:focus .dropdown-menu
{
   -webkit-transform: translate(-50%, 0);
   -moz-transform: translate(-50%, 0);
   -o-transform: translate(-50%, 0);
   -ms-transform: translate(-50%, 0);
   transform: translate(-50%, 0);
}

.dropdown-menu li
{
   display: block;
}

header .dropdown-menu li a
{
   padding: 1em 2.25rem;
   display: block;
}

.dropdown-menu h2
{
   padding: 0 2.25rem;
   margin: 0;
   margin-top: 1em;
   margin-bottom: .75em;
   font-size: 16pt;
}

#language-selector
{
    position: relative;
    text-transform: uppercase;
    margin-left: 1em;
}

#language-selector:focus
{
    outline: none;
}

.dropdown-menu li:hover, nav ul li:hover, #language-selector:hover #current-lang
{
   background-color: #eee;
}

#current-lang
{
   display: inline-block;
   padding: 0 .5em;
   transition: .4s ease;
   /* background-color: #eee; */
}

#current-lang span:first-child
{
   margin-right: .2em;
}

main
{
   display: block;
   margin-bottom: 5em;
}

footer
{
   border-top: 1px solid #ccc;
   padding: 1.25em 2em;
   padding-bottom: 2em;
   margin-top: 2em;
}

/* #footer-content
{
   max-width: 
} */

footer #footer-left
{
   display: inline;
}

#footer-left > *
{
   display: inline-block;
}

#footer-left > *:not(:last-child)
{
   border-right: 1px solid #999;
   padding-right: .5em;
}

#footer-left > *:not(:first-child)
{
   padding-left: .2em;
}

footer #footer-back-to-top
{
   float: right;
}