/******************/
/***GENERAL TAGS***/
/******************/

a
{
   /* color: #37509a; */
   color: #6c85d4;
   text-decoration: none;
   transition: .25s ease;
}

a:hover
{
    color: #799AFF; 
}

a.view-on-seperate-page
{
    display: inline-block;
    color: #a0a92d;
    opacity: .25;
    font-size: .5em;
}

a.view-on-seperate-page:hover
{
    opacity: .5;
    font-size: .8em;
}

address
{
    font-style: normal;
}

button:disabled
{
    cursor: auto!important;
}

select
{
    border: none;
    background: none;
    border-bottom: 2px solid #d7e33c;
}

hr
{
    max-width: 1000px;
    margin: auto;
    margin-top: 8em;
    margin-bottom: 2em;
    border: none;
    border-top: 1px solid #bbb;
    border-bottom: 2px solid #fff;
}

img
{
    border: none;
}


/********************/
/***SPECIFIC STUFF***/
/********************/

address div
{
    padding: 0;
    margin: 0;
}

address .postal
{
    margin-bottom: 1em;
}

address .digital
{
    font-style: normal;
}

address span.fa
{
    display: inline-block;
    width: 1.52em;
}

.opening-hours
{
    position: relative;
    height: 5.2em;
}

.opening-hours .opening-time
{
    display: inline-block;  
    padding: 0;
    margin: 0;
    position: absolute;
    /* left: 10em; */
}

.opening-hours span
{
    display: inline-block;
    text-align: left;
}

.opening-hours .opening-time .delimeter
{
    width: 1rem;
    left: 6rem;
}

#welcome .slide-with
{
    max-width: none;
    margin: 0;
    /* margin-bottom: 3em; */
}

#welcome .slide-with .slideshow-panel
{
    transition-duration: 1.5s;
}

#welcome img
{
    /* height: 15.6em;
    width: auto; */
    width: 100vw;
    height: auto;
}

#welcome p, #welcome h1
{
    text-align: left;
}

#welcome h1
{
    font-size: 3em;
    padding: 0;
    max-width: 1000px;
    margin: auto;
    margin-bottom: .25em;
}

#welcome p
{
    font-size: 1.25em;
}

.shadowed
{
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
}

.search
{
    display: inline-block;
    height: 100%;
}

.search > *
{
    display: inline-block;
    height: 2rem;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

.search input
{
    font-size: 1em;
    width: 6.5em;
}

.search input:focus
{
    outline: none;
}

.search button
{
    height: 2.25rem;
    padding: 0 .5em;
}

.search button span
{
    padding: 0;
    margin: 0;
}

.flex-two-sided
{
    display: flex;
    flex-direction: row;
}

.flex-two-sided > *
{
    display: inline-flex!important;
}

.flex-placeholder
{
    flex-grow: 1;
}

#ghost-select
{
    visibility: hidden!important;
    pointer-events: none!important;
    height: 0!important;
    position: absolute!important;
    bottom: 0!important;
    left: 0!important;
}

.fullwidth-link
{
    display: block;
    width: 100%;
    padding: .4em;
    margin-top: .5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    text-align: center;
}

.badge
{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: .75em;
    background-color: red;
    color: white;
    border-radius: 50px;
    min-width: 1.25em;
    height: 1.25em;
    /* padding: 0 .2em; */
    padding: 0;
    text-align: center;
    margin-right: -28%;
    margin-top: -7%;
    line-height: 1.2em;
}

#landing-page-container
{
    width: 50vw;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    min-height: 13vh;
    max-height: 100%;
    min-width: 33vw;
    max-width: 100%;
}

#cookie-bar-outer
{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 30;
    width: 100vw;
    /* height: 2em; */
    transition: opacity .5s ease;
    opacity: 1;
}

#cookie-bar-outer.hidden
{
    opacity: 0;
}

#cookie-bar
{
    height: 100%;
    background-color: white;
    padding: .5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    position: relative;
}

#cookie-bar .close
{
    display: inline-block;
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 1.1em;
    cursor: pointer;
}