.products
{
    z-index: 2;
}

.products .fullwidth
{
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}

.products .slideshow
{
    margin-bottom: 1em; 
}

.products .slideshow img
{
    /* display: inline-block; */
    max-height: 10em;
    margin-top: .2em;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.products .slideshow h2
{
    /* display: block; */
    /* vertical-align: top; */
    margin: 0;
    /* margin-left: 1em; */
    color: #444;
    /* text-shadow: 0 0 1px rgba(0, 0, 0, .25); */
    /* font-size: 48pt; */
    font-size: 24pt;
}

.products .slide-with
{
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: -1;
    padding-bottom: .33em;
}

.products .slide-with .slideshow-panel
{
    padding: 0 2em;
    box-sizing: border-box;
}

.products article
{
    font-size: 16pt;
    margin-top: 3em;
}