{% extends "components/titled-section.html.twig" %}

{% set title = "Kontakt"|bundle %}

{% block sectionBody %}
    <address>
        <div class="postal">
            {{ "address"|bundle|raw }}
        </div>
        <div class="digital">
            <div><span class="fa fa-phone">&nbsp;</span><a href="tel:+43-7752-870710">+43 7752 870710</a></div>
            <div><span class="fa fa-envelope">&nbsp;</span> <a href="mailto:office@computer-steiner.com">office@computer-steiner.com</a></div>
            <div><span class="fa fa-facebook">&nbsp;</span> <a href="https://www.facebook.com/computersteiner?fref=ts" target="_blank">Facebook</a></div>
        </div>
    </address>
{% endblock %}