<article>
    <h2>CS-BUS</h2>
    <p>Haben Sie es satt, Ihre gesamte Organisation in unhandlichen Papierstapeln und unübersichtlichen Tabellenkalkulationen oder veralteten Systemen zu verwalten?</p>
    <p>Wäre es Ihnen nicht lieber, alle Informationen zu Kunden, Angeboten / Aufträgen, Buchungen, Terminen sowie Linien- und Fahrzeugdispositionen, etc. auf Knopfdruck übersichtlich präsentiert zu erhalten, ohne mit der Angst vor Datenverlusten oder falsch zugeordneten Informationen leben zu müssen?</p>
    <p>Wir können Ihnen mit unserem Programm CS-BUS eine auf Ihre Branche zugeschnittene und praxisgeprüfte Software anbieten, welche bereits von vielen zufriedenen Kunden im In- und Ausland eingesetzt wird!</p>
    <p>Unser System deckt bereits in der Grundversion sehr viele Bereiche des täglichen Geschäftslebens ab und ist sowohl durch Standardmodule als auch speziell auf Ihren Betrieb angepasste Programmpunkte individuell erweiterbar, wobei durch den modularen Aufbau jede erdenkliche Konfiguration möglich ist!</p>
    <p>Ihr Vorteil: Herstellung, Installation, Schulung und Betreuung der Software erfolgt aus einer Hand!</p>
    <p><b>CS-BUS - DAS leistungsstarke Programm für Bus- und Reiseunternehmen</b></p>
    <hr>
    <h3>CS-Mobile</h3>
    <img src="images/mobile.png">
    <p>CS-BUS exportiert mittels dem Programmtool „Termin-Online-Service“ diverse Termindaten automatisch und in Echtzeit in eine Onlinedatenbank.</p>
    <p>Die Disposition kann somit dem Fahrer in Echtzeit die nächsten Termine/Fahrten zur Verfügung stellen. Mobile User (Fahrer, Disponenten, etc.) können diese Termindaten mittels Internetverbindung und der mobilen Anwendung „CS-Mobile“ abrufen.</p>
    <p>Definierte Admin-User können eine Termindarstellung über alle Fahrzeuge und Fahrer abrufen (z.B. Disponenten, Geschäftsführer, etc.).</p>
    <p>Diese definierten Admin-User können sich auch alle noch frei verfügbaren Fahrzeuge für diesen Zeitraum anzeigen lassen.</p>
    <p>Zeiträume können vom User frei definiert abgefragt und dargestellt werden.</p>
    <p>DOWNLOAD CS-MOBILE:<br>
    CS-Mobile-App für iPhone und iPad <a href="https://itunes.apple.com/at/app/cs-mobile-steiner/id931448912?mt=8&ign-mpt=uo%3D4" target="_blank">hier</a><br>
    CS-Mobile-App für Android-Geräte <a href="https://play.google.com/store/apps/details?id=com.ionicframework.csmobile826298" target="_blank">hier</a></p>
</article>