<article>
    <p>Haben Sie es satt, Ihre gesamte Organisation in Papierstapeln und unübersichtlichen Tabellenkalkulationen zu verwalten?</p>
    <p>Wäre es Ihnen nicht lieber, alle Informationen zu Kunden, Aufträgen, Terminen, offenen Posten, etc. mit einem Mausklick übersichtlich präsentiert zu erhalten?</p>
    <p>Haben Sie Angst vor Datenverlusten oder falsch zugeordneten Informationen?</p>
    <p>Wir können Ihnen mit unserem Programm <b>CS-TRANSPORT</b> eine auf Ihre Branche zugeschnittene und praxisgeprüfte Software anbieten, welche bereits von über 500 zufriedenen Kunden in Österreich, Deutschland, Schweiz, Slowenien, Tschechien, Slowakei und Ungarn eingesetzt wird!</p>
    <p>Unser System deckt bereits in der Grundversion sehr viele Bereiche des täglichen Geschäftslebens ab und ist sowohl durch Standardmodule als auch speziell auf Ihren Betrieb angepasste Programmpunkte individuell erweiterbar, wobei durch den modularen Aufbau jede erdenkliche Konfiguration möglich ist!</p>
    <p><b>CS-TRANSPORT</b> wird seit 1978 durch Computer Steiner entwickelt, vertrieben, gewartet und natürlich betreut - dadurch ergibt sich ein großer Vorteil:</p>
    <p><b>Egal um welches Anliegen es sich handelt - Sie erhalten alles aus einer Hand!</b></p>
</article>