<article>
    <p><b>ROUTENPLANER GIBT ES WIE SAND AM MEER, ABER...</b></p>
    <p>... Sie suchen eine Routenplanungssoftware, die speziell auf die Bedürfnisse von Transport- und Busunternehmen zugeschnitten ist?</p>
    <p>Eine Software, die eine für LKWs oder Busse optimierte Routenberechnung mit den aktuellsten Kartendaten durchführt?</p>
    <p>Eine Software, die verlässliche Ergebnisse in Sachen Distanz, Dauer, Kosten, Routenführung sowie Maut liefert und das zu einem vernünftigen und fairen Preis?</p>
    <p>Während die meisten anderen Routenplaner hauptsächlich auf den Bereich PKW-Routing abzielen, wurde CS-ROUTING ausschließlich für die Transport- und Reisebranche entwickelt. Deshalb gehören Features wie Berücksichtigung von Fahrverboten und Beschränkungen, europaweite Mautberechnung, Leerkilometer- und Leerkostenermittlung, Emissionsberechnung, uvm. in CS-ROUTING zum Standardfunktionsumfang.</p>
    <p>Außerdem können Sie auf der Karte die <b>GPS-POSITION</b> ihrer <b>LKWs</b> und <b>Busse</b> darstellen - d.h. unabhängig davon, welches oder wie viele unterschiedliche Telematik-Systeme Sie in Ihren Fahrzeugen verwenden - Ihre Disposition hat den gesamten Fuhrpark im Blick!</p>
    <p><b>CS-ROUTING BIETET IHNEN GENAU DIESE UND VIELE WEITERE VORTEILE!</b></p>
</article>