<section class="products invisible">
    <div class="fullwidth">
        <h1>{{ "products"|bundle }}</h1>
        {% include "components/slideshow.html.twig" with {"id": "products", "panels": [
            {"id": "cs-transport", "content": "<img src='"~HOST~"/images/transport.png'>"},
            {"id": "cs-routing", "content": "<img src='"~HOST~"/images/routing.png'>"},
            {"id": "cs-bus", "content": "<img src='"~HOST~"/images/bus.png'>"}
        ]} %}
    </div>
    <div class="size-limited">
        {% include "components/slide-with.html.twig" with {"slideshowId": "products", "panels": [
            {"content": "cs-transport"|bundle|raw},
            {"content": "cs-routing"|bundle|raw},
            {"content": "cs-bus"|bundle|raw}
        ]} %}
    </div>
</section>